*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 80%;
}
h2{
    text-align: center;
    font-size: 2rem;
}
.info,.info2{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    gap: 3px;
    padding-bottom: 5px;
}
.name{
    grid-column: span 2;
}
.phone{
    grid-column: span 2;
}
.address{
    grid-column: span 4;
}
.info div,.info2 div{
    /* border: 2px solid green; */
    padding: 10px;
    font-size: 20px;
    background-color: rgb(27, 93, 164);
    color: white;
    height: 45px;
    overflow: hidden;
  

}
.info2 div{
    background-color: grey;
}
.add{
    text-align: center;
    cursor: pointer;
}

.btn1{
    grid-column: span 2;
}
.btn2{
    grid-column: span 2;
}
.btn3{
    grid-column: span 3;
}
.btn4,.btn5{
    text-align: center;
    cursor: pointer;
    
    
}
.info2 .btn5{
    background-color: red;
}
.modal{
    position: fixed;
    display: flex;
    /* justify-content: center; */
    /* width: 50%; */
    margin:auto;
    top: 40px;
    left: 20%;
    z-index: 1;
    
    
}
form{
    
   background-color: rgb(59, 59, 139);
   color: white;
    
    position: fixed;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    
}
.hide-form{
    display: none;
}
.btn{
    
    display: flex;
    justify-content: end;
}
.btn div{
    padding: 8px 15px;
    border-radius:5px ;
    border: none;
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    cursor: pointer;
    
    

}
.submit{
    background-color: blue;
}
.cancel{
    background-color: red;
}
input{
    width: 100%;
    height: 35px;
    font-size: 18px;
    outline:none;
}
